/BS.ipynb
/requirements.txt
/test.xlsx
/wef.ipynb
Alpha/database/wrappers/__pycache__/yt_wrapper.cpython-38.pyc
Alpha/database/wrappers/__pycache__/eod_wrapper.cpython-38.pyc
Alpha/database/wrappers/__pycache__/aiohttp_wrapper.cpython-38.pyc
Alpha/database/securities/__pycache__/fx.cpython-38.pyc
Alpha/database/securities/__pycache__/equities.cpython-38.pyc
Alpha/database/db/__pycache__/db_service.cpython-38.pyc
Alpha/database/__pycache__/db_logs.cpython-38.pyc
Alpha/database/__pycache__/data_master.cpython-38.pyc
Alpha/database/applogs.log
Alpha/__pycache__/datalib.cpython-38.pyc
Alpha/database/test.ipynb
Alpha/__pycache__/datalib.cpython-38.pyc
database/config.json
.gitignore
database/test.ipynb
database/wrappers/__pycache__/yt_wrapper.cpython-38.pyc
database/wrappers/__pycache__/aiohttp_wrapper.cpython-38.pyc
database/securities/__pycache__/fx.cpython-38.pyc
database/securities/__pycache__/equities.cpython-38.pyc
database/db/__pycache__/db_service.cpython-38.pyc
database/__pycache__/db_logs.cpython-38.pyc
database/__pycache__/data_ctr.cpython-38.pyc
database/applogs.log
